<!--  로그인 모달  -->
<div class="modal-wrapper" id="login-modal" style="display: {{#if message}}flex{{else}}none{{/if}}">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal-title">Login</div>
        <div class="modal-error">{{#if message}}{{ message }}{{/if}}</div>
        <form action="/auth/login" method="POST">
            <div class="form-group">
                <label for="email" style="display: none;"></label>
                <input class="form-input" type="email" id="email" name="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <label for="password" style="display: none;"></label>
                <input class="form-input" type="password" id="password" name="password" placeholder="Password" />
            </div>
            <!--            <div class="form-group">-->
            <!--                <div class="custom-control custom-checkbox">-->
            <!--                    <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />-->
            <!--                    <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>-->
            <!--                </div>-->
            <!--            </div>-->
            <div class="form-group btn-group">
                <!--                <a class="small" href="/password">Forgot Password?</a>-->
                <button class="btn btn-primary" type="submit">Login</button>
                <button class="btn btn-secondary" type="button"
                    onclick="window.location.href='/register'">Register</button>
            </div>
        </form>
    </div>
</div>

<!--  세션 생성/참가 모달  -->
<div class="modal-wrapper" id="session-modal" style="display: {{#if sessionErr}}flex{{else}}none{{/if}}">
    <div class="overlay"></div>
    <div class="modal">
        <div class="modal-title">Create / Join Session</div>
        <div class="modal-error">{{ sessionErr }}</div>
        <form action="/" method="POST">
            <div class="form-group">
                <label for="sessionid" style="display: none;">Session ID</label>
                <input class="form-input" type="text" id="sessionid" name="sessionid" placeholder="Enter Session ID" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Join</button>
                <!--                <button class="btn btn-secondary" type="submit">Create</button>-->
            </div>
        </form>
    </div>
</div>

<div class="indexContainer">
    <div class="logoContainer">
        <a href="/">
            <img src="/public/images/logo.png" alt="Tetris Battle Logo" width="561px" height="235px">
        </a>

        <span class="description italic">A JavaScript-based Tetris Multiplayer Game.
            <br>
            Original game code based off of <a class="description-italic"
                href="https://github.com/meth-meth-method/tetris-network-multiplayer">Meth Meth Method</a>
        </span>
    </div>

    <div class="menuContainer">
        <div class="menu" {{#if session.token}} id="mypage" {{else}} id="login" {{/if}}>
            <img src="/public/images/login.svg" alt="Login">
            {{#if session.token}}
            <span>{{session.user.name}}/<br>MY PAGE</span>
            {{else}}
            <span>LOGIN /<br>REGISTER</span>
            {{/if}}
        </div>
        <div class="menu" id="quickmatch">
            <img src="/public/images/quickmatch.svg" alt="Match">
            <span>QUICK MATCH</span>
        </div>
        <div class="menu" id="createjoin">
            <img src="/public/images/session.svg" alt="Session">
            <span>CREATE / JOIN<BR>SESSION</span>
        </div>
    </div>
    <div>
        {{#if session.user}}
        <span class="description-italic">{{ session.user.name }} Logged In!</span>
        {{/if}}
    </div>
</div>